<h1>{{titulo}}</h1>

<button [routerLink]="['/alumnado/', '1']">Primero</button>
<br>
<button [routerLink]="['/alumnado/', '2']">Segundo</button>
<div>
    <div *ngIf="curso==1">
        <ul >
            <li *ngFor = "let alumno of mostrarPrimero(); let i = index">
                <strong>Alumno {{i+1}}:</strong>
                <ul>
                    <li>{{alumno.nombre}}</li>
                    <li>{{alumno.apellido}}</li>
                    <li *ngIf="alumno.curso== 1">1º</li>
                </ul>
            </li>
        </ul>
        <button (click)="onBack()">Volver</button>
    </div>
    <div *ngIf="curso==2">
        <ul>
            
            <li  *ngFor = "let alumno of mostrarSegundo(); let i = index">
                <strong>Alumno {{i+1}}:</strong>
                <ul>
                    <li>{{alumno.nombre}}</li>
                    <li>{{alumno.apellido}}</li>
                    <li *ngIf="alumno.curso== 2">2º</li>
                </ul>
            </li>
        </ul>
        <button (click)="onBack()">Volver</button>
    </div>
</div>

<!--<input type="button" (click)="toggleShowPrimero()" value="Hide/Show Primero">
<div *ngIf="isShownPrimero">
    <ul >
        <li *ngFor = "let alumno of mostrarPrimero(); let i = index">
            <strong>Alumno {{i+1}}:</strong>
            <ul>
                <li>{{alumno.nombre}}</li>
                <li>{{alumno.apellido}}</li>
                <li *ngIf="alumno.curso== 1">1º</li>
            </ul>
        </li>
    </ul>
</div>

<input type="button" (click)="toggleShowSegundo()" value="Hide/Show Segundo">

<div >
    <ul *ngIf="isShownSegundo">
        
        <li  *ngFor = "let alumno of mostrarSegundo(); let i = index">
            <strong>Alumno {{i+1}}:</strong>
            <ul>
                <li>{{alumno.nombre}}</li>
                <li>{{alumno.apellido}}</li>
                <li *ngIf="alumno.curso== 2">2º</li>
            </ul>
        </li>
    </ul>
</div>-->